*{
    padding: 0;
    margin: 0;
}

#game{
    width: 90vw;
    height: 90vh;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}


#canvas{
    display: block;
    position: relative;
}